In [3]:
a=int(input())
for i in range(1,a+1):
    print(a*"*")

 3

***
***
***

In [6]:
a=int(input())
for i in range(1,a+1):
    print(i*"*")

 4

*
**
***
****

In [28]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

 4

1
1 2
1 2 3
1 2 3 4

In [32]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

 4

1
22
333
4444

In [44]:
a=int(input())
for i in range(a,0,-1):
    print(i*"*")

 5

*****
****
***
**
*

In [58]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,a-i+2):
        print(j,end="")
    print()

 4

1234
123
12
1

In [65]:
a=int(input())

for i in range(1,a+1):
    space=a-i
    star=2*i-1
    print(" "*space+"*"*star)

 4

   *
  ***
 *****
*******

In [75]:
a = int(input())
for i in range(1, a + 1):
    star = 2 * (a - i) + 1
    space = i - 1
    print(" " * space + "*" * star)

 4

*******
 *****
  ***
   *

In [78]:
a=int(input())

for i in range(1,a+1):
    space=a-i
    star=2*i-1
    print(" "*space+"*"*star)
for i in range(1, a + 1):
    star2 = 2 * (a - i) + 1
    space2 = i - 1
    print(" " * space2 + "*" * star2)

 5

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [83]:
a=int(input())
for i in range(1,a+1):
    print("*"*i)
for j in range(a-1,0,-1):
    print("*"*j)

 5

*
**
***
****
*****
****
***
**
*

In [91]:
a=int(input())

for i in range(1,a+1):
    if i%2==0:
        start=0
    else:
        start=1
    for j in range(1,i+1):
        print(start,end=" ")
        start=1-start
    print()

 4

1
0 1
1 0 1
0 1 0 1

In [97]:
a=int(input())

for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end="")
        space=2*(a-i)
    print(" "*space,end="")

    for k in range(i,0,-1):
        print(k,end="")
    print()

 4

1      1
12    21
123  321
12344321

In [108]:
a=int(input())
num=1
for i in range (a+1):
    for j in range(i):
        print(num,end=" ")
        num+=1
    print()

 3

1
2 3
4 5 6

In [110]:
a=int(input())

for i in range(a+1):
    for j in range(i):
        print(chr(65+j),end="")
    print()

 4

A
AB
ABC
ABCD

In [118]:
a=int(input())

for i in range(1,a+1):
    for j in range(1,a-i+2):
        print(chr(64+j),end="")
    print()

 5

ABCDE
ABCD
ABC
AB
A

In [121]:
a=int(input())
for i in range(a+1):
    for j in range(i):
        print(chr(64+i),end="")
    print()

 5

A
BB
CCC
DDDD
EEEEE

In [128]:
a=int(input())
for i in range(a):
    # Spaces
    print(" " * (a - i ), end="")
    # Increasing part: A to current
    for j in range(i + 1):
        print(chr(65 + j), end="")
    # Decreasing part: current-1 to A
    for j in range(i - 1, -1, -1):
        print(chr(65 + j), end="")
    print()

 5

     A
    ABA
   ABCBA
  ABCDCBA
 ABCDEDCBA

In [131]:
a=int(input())
for i in range(1,a+1):
    print("*"*i)
    space=2*(a-i)
for j in range(a,0,-1):
    print(" "*space+"*"*j,end="")

 4

*
**
***
****
**********

In [133]:

a=int((input()))
for i in range(1, a + 1):
    print("*" * i + " " * (2 * (a - i)) + "*" * i)

for i in range(a - 1, 0, -1):
    print("*" * i + " " * (2 * (a - i)) + "*" * i)

 4

*      *
**    **
***  ***
********
***  ***
**    **
*      *

In [134]:
n=int(input())
for i in range(n):
        for j in range(n):
            if i==0 or i==n-1 or j==0 or j==n-1:
                print("*",end="")
            else:
                print(" ",end="")
        print()

 4

****
*  *
*  *
****